.SummaryView-row {
  width: 100%;
  min-width: 200px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding-bottom: 3em;
  clear: both;
}

.mobile .SummaryView-row {
  width: 100%;
  min-width: 200px;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  clear: both;
}

.SummaryView-row-inner {
  display: grid;

  grid-template-columns: auto minmax(24em,1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "title totals"
    "chart metrics"
    "chart tools"
    "more more";
  /* border-top: 1px solid #555; */
}

/* .mobile .SummaryView-row-inner {
  grid-template-areas:
    "metrics title"
    "totals chart"
    "tools chart"
    "more more";
} */

.SummaryView-row-inner > .chart {
  grid-area: chart;
  text-align: right;
}

.SummaryView-row-inner > .chart svg {
  height: 6em;
}

@media only screen and (max-width: 400px) {
  .SummaryView-row-inner > .chart svg {
    height: 5.5em;
  }
}

.SummaryView-row-inner > .title {
  grid-area: title;
  text-align: left;
  align-self: middle;
}

.SummaryView-row-inner > .totals {
  min-width: 24em;
  grid-area: totals;
  text-align: left;
  align-self: center;
}

.SummaryView-row-inner > .metrics {
  grid-area: metrics;
  text-align: left;
  align-self: middle;
}

.SummaryView-row-inner > .tools {
  grid-area: tools;
  text-align: left;
  align-self: end;
  font-size: 80%;
}

.SummaryView-row-inner > .more {
  grid-area: more;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}


.mobile .SummaryView-row-inner > .chart {
  text-align: right;
}

.SummaryView-row-inner .metrics section {
  display: inline-block;
  margin-right: 0.8em;
  margin-bottom: 0.5em;
}

.SummaryView-row-inner .totals section {
  display: inline-block;
}


.pinned .SummaryView-row-inner {
  border-top: 2px solid #ff0;
  border-bottom: 1px solid #ff0;
}

.SummaryView-row .title {
  text-align: right;
  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.SummaryView-row .title .name {
  flex: 1;
}

.SummaryView-row .title .flag {
  flex: 0;
  margin-left: 0.5em;

  font-size: 140%;
  text-shadow: 0 0 0.2em #999;
}

.mobile .SummaryView-row .title .flag {
  margin-right: 0.2em;
}

.SummaryView-row-inner > .totals {
  margin-left: 0.6em;
  font-size: 110%;
  font-weight: bold;
  text-align: left;
}

.mobile .SummaryView-row-inner > .totals {
  font-size: 100%;
}

.SummaryView-row-inner > .metrics {
  margin-left: 0.6em;
}

.mobile .SummaryView-row-inner > .metrics {
  font-size: 90%;
}

/* .mobile .SummaryView-row .title .flag {
  display: inline-block;
  position: relative;
  top: 0.2em;
  margin-top: -0.5em;
  margin-right: 0.2em;
} */

.SummaryView-row .totals .cases {
  font-size: 80%;
  opacity: 0.4;
}

.SummaryView-row .tools button {
  display: inline-block;
  margin-top: 0.7em;
  margin-right: 2em;
}

.SummaryView-row .more {
  margin-bottom: 2em;
}

.SummaryView-row .more section {
  margin-top: 0.6em;
}
