.TableView-row-outer {
  min-width: 200px !important;
  max-width: 50em !important;
  margin-left: auto;
  margin-right: auto;
}

.mobile .TableView-row-outer {
  min-width: 200px !important;
  max-width: 100% !important;
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.TableView-row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  display: grid;

  grid-template-columns: 1fr 6em 11em 6em 8em ;
  grid-template-rows: auto;
  grid-template-areas:
    "  title   deathsChart  deaths        accelerationChart   outbreakDay     "
    "  tools   deathsChart  latestDaily   accelerationChart   acceleration    "
    "  .       deathsChart  .             accelerationChart   .               ";

  justify-items: stretch;
  align-items: center;
}
.mobile .TableView-row {
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  grid-template-columns: 1fr 6em 10em ;
  grid-template-areas:
  "  title   deathsChart        deaths "
  "  title   deathsChart        latestDaily "
  "  tools   deathsChart        . "
  "  .       accelerationChart  outbreakDay "
  "  .       accelerationChart  acceleration  "
  "  .       accelerationChart  .  ";

  justify-items: stretch;
  align-items: start;
}

.TableView-row > section {
  line-height: 1.3em;
  text-align: left;
}

.TableView-row {
  cursor: pointer;
}
.TableView-row:hover {
  background-color: var(--row-hover-color);
}

.TableView-row > .title {
  grid-area: title;
}

.TableView-row > .tools {
  grid-area: tools;
}

.TableView-row > .outbreakDay {
  grid-area: outbreakDay;
  white-space: nowrap;
}

.TableView-row > .deaths {
  grid-area: deaths;
  white-space: nowrap;
}

.TableView-row > .latestDaily {
  grid-area: latestDaily;
  white-space: nowrap;
}

.TableView-row > .acceleration {
  grid-area: acceleration;
  white-space: nowrap;
}

.TableView-row > .deathsChart {
  grid-area: deathsChart;
}
.TableView-row > .accelerationChart {
  grid-area: accelerationChart;
}


.TableView-row .title {
  justify-self: end;
  text-align: right;
  align-self: start;

  font-size: 120%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mobile .TableView-row .title {
  font-size: 110%;
  justify-self: end;
  text-align: right;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.TableView-row .title a, .TableView-row .title a:link, .TableView-row .title a:visited {
  color: inherit;
  text-decoration: none;
}
.TableView-row .title a:hover, .TableView-row .title a:active {
  text-decoration: underline;
}

.TableView-row .title .name {
  flex: 1;
}

.TableView-row .title .flag {
  flex: 0;
  margin-left: 0.5em;
  margin-right: -0.3em;

  font-size: 140%;
  text-shadow: 0 0 0.2em var(--emoji-glow-color);
}

.mobile .TableView-row .title .flag {
  margin-left: 0.2em;
  margin-right: -0.3em;
  font-size: 160%;
}

.TableView-row .tools {
  justify-items: flex-end;
  align-items: flex-end;
  text-align: right;
}
.TableView-row .tools .permalink {
  margin-right: 2em;
}

.TableView-row .deaths {
  font-size: 110%;
  font-weight: bold;
  color: var(--data-deaths-lighter-color);
}

.mobile .TableView-row > .deaths {
  font-size: 100%;
}

.TableView-row .deaths .yesterday {
  font-size: 60%;
  font-weight: normal;
  margin-left: 0.5em;
  color: var( --text-color);
  opacity: 0.5;
}


.TableView-row .latestDaily {
  text-align: left;
  color: var(--data-deaths-lighter-color);
}
.TableView-row .latestDaily > span {
  padding-right: 0.5em;
}

.TableView-row .latestDaily .index-1 {
  font-weight: bold;
}
.TableView-row .latestDaily .index-2 {
  opacity: 0.85;
}
.TableView-row .latestDaily .index-3 {
  opacity: 0.65;
}
.TableView-row .latestDaily .index-4 {
  opacity: 0.5;
}

.TableView-row .outbreakDay {
  font-weight: bold;
  font-size: 110%;
  text-align: left;
}

.mobile .TableView-row .outbreakDay {
  font-size: 100%;
}

.TableView-row .acceleration {
  text-align: left;
}

.TableView-row .deathsChart svg, .TableView-row .accelerationChart svg {
  width: 100%;
}

/* .mobile .TableView-row .deathsChart svg, .mobile .TableView-row .accelerationChart svg {
  width: 5em;
} */

.TableView-row-outer .expandedInfo {
  width: 100%;
  padding-bottom: 3em;
}
.TableView-row-outer .expandedInfo > section {
  margin-bottom: 1em;
}

.TableView-row-outer .expandedInfo .deathsChart svg,
.TableView-row-outer .expandedInfo .accelerationChart svg {
  width: 35em;
}

.mobile .TableView-row-outer .expandedInfo .deathsChart svg,
.mobile .TableView-row-outer .expandedInfo .accelerationChart svg {
  width: 24em;
}
