.OutbreakTable {
  display: flex;
  flex-direction: row;
}

.OutbreakTable-values {
  text-align: center;
  display: inline-block;
  padding-bottom: 0.7em;

  overflow: auto;
  flex: 1;

  display: flex;
  flex-direction: row-reverse;
}

.OutbreakTable-headers {
  padding-left: 1em;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.OutbreakTable-values .row {
  padding-right: 1em;
  display: inline-block;
}

.OutbreakTable .date {
  white-space: nowrap;
}

.OutbreakTable .cases {
  opacity: 0.4;
  margin-top: 0.4em;
}

.OutbreakTable .deaths {
  color: #f99;
  margin-top: 0.4em;
}

.OutbreakTable .percent {
  font-size: 75%;
}

.OutbreakTable .percent.positive.large {
  color: #c66;
}

.OutbreakTable .percent.positive.huge {
  color: #f00;
  font-weight: bold;
}

.OutbreakTable .percent.negative.large {
  color: #3a3;
}

.OutbreakTable .percent.negative.huge {
  color: #0f0;
  font-weight: bold;
}
