.OutbreakTable {
  display: flex;
  flex-direction: row;
}

.OutbreakTable-values {
  text-align: center;
  display: inline-block;
  padding-bottom: 0.7em;

  overflow: auto;
  flex: 1;

  display: flex;
  flex-direction: row-reverse;
}

.OutbreakTable-headers {
  padding-left: 1em;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.OutbreakTable-values .row {
  padding-right: 1em;
  display: inline-block;
}

.OutbreakTable .date {
  white-space: nowrap;
}

.OutbreakTable .outbreakDay {
  white-space: nowrap;
  font-size: 80%;
}

.OutbreakTable .cases {
  opacity: 0.4;
}

.OutbreakTable .cases.totals {
  font-weight: bold;
  margin-top: 0.4em;
}
.OutbreakTable .cases.daily {
  font-weight: normal;
  font-size: 80%;
}

.OutbreakTable .deaths {
  color: var(--data-deaths-lighter-color);
}
.OutbreakTable .deaths.totals {
  font-weight: bold;
  margin-top: 0.4em;
}
.OutbreakTable .deaths.daily {
  font-weight: normal;
  font-size: 80%;
}

.OutbreakTable .velocity {
  margin-top: 0.4em;
  font-size: 100%;
}

.OutbreakTable .acceleration.change {
  font-weight: normal;
  font-size: 80%;
  margin-bottom: 0.5em;
}

.OutbreakTable .acceleration.severity-bad-xl .acceleration {
  color: var(--lightTheme-data-severity-bad-xl);
  font-weight: bold;
}
.OutbreakTable .acceleration.severity-bad-l .acceleration {
  color: var(--lightTheme-data-severity-bad-l);
  font-weight: bold;
}
.OutbreakTable .acceleration.severity-bad-m .acceleration {
  color: var(--lightTheme-data-severity-bad-m);
}
.OutbreakTable .acceleration.severity-bad-s .acceleration {
  color: var(--lightTheme-data-severity-bad-s);
}
.OutbreakTable .acceleration.severity-flat .acceleration {
  color: var(--lightTheme-data-severity-flat);
}
.OutbreakTable .acceleration.severity-good-s .acceleration {
  color: var(--lightTheme-data-severity-good-s);
}
.OutbreakTable .acceleration.severity-good-m .acceleration {
  color: var(--lightTheme-data-severity-good-m);
}
.OutbreakTable .acceleration.severity-good-l .acceleration {
  color: var(--lightTheme-data-severity-good-l);
  font-weight: bold;
}
.OutbreakTable .acceleration.severity-good-xl .acceleration {
  color: var(--lightTheme-data-severity-good-xl);
  font-weight: bold;
}
