.VariableSizeRow.first .VariableSizeRow-inner {
  padding-top: 7em;
}

.mobile .VariableSizeRow.first .VariableSizeRow-inner {
  padding-top: 8em;
}

.VariableSizeRow.last .VariableSizeRow-inner {
  padding-bottom: 5em;
}

.Entries-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.outbreakDay {
  color: var(--data-outbreakDay-color);
}
.lightTheme .outbreakDay {
  color: var(--lightTheme-data-outbreakDay-color);
}

.velocity {
  color: var(--data-velocity-color);
}
.lightTheme .velocity {
  color:var(--lightTheme-data-velocity-color);
}

.acceleration {
  color: var(--data-acceleration-color);
}
.lightTheme .acceleration {
  color: var(--lightTheme-data-acceleration-color);
}

.acceleration.decreasing {
  color: var(--data-good-color);
}
.acceleration.increasing {
  color: var(--data-bad-color);
}

.arrow.decreasing {
  color: var(--data-good-color);
}
.arrow.increasing {
  color: var(--data-bad-color);
}

.lightTheme .acceleration.decreasing {
  color: var(--lightTheme-data-good-color);
}
.lightTheme .acceleration.increasing {
  color: var(--lightTheme-data-bad-color);
}

.acceleration .arrow {
  font-size: 60%;
  position: relative;
  top: -0.1rem;
  left: -0.1rem;
}

.scaleVeryGood {
  color: var(--data-scale-veryGood-color);
  font-weight: bold;
}

.scaleGood {
  color: var(--data-scale-good-color);
}

.scaleMedium {
  color: var(--data-scale-medium-color);
}

.scaleBad {
  color: var(--data-scale-bad-color);
}

.scaleVeryBad {
  color: var(--data-scale-veryBad-color);
}

.scaleTerrible {
  color: var(--data-scale-terrible-color);
  font-weight: bold;
}

.legend {
  padding-bottom: 2em;
}

.legend section {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.legend .comparedTo {
  color: var(--data-comparedDeaths-color);
}

.legend .deaths {
  color: var(--data-deaths-color);
}
