.VariableSizeRow.first .VariableSizeRow-inner {
  padding-top: 7em;
}

.mobile .VariableSizeRow.first .VariableSizeRow-inner {
  padding-top: 8em;
}

.VariableSizeRow.last .VariableSizeRow-inner {
  padding-bottom: 5em;
}

.Entries-row {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  clear: both;
}

.Entries-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.desktop .Entries-row {
  max-width: 800px;
}

.SummaryView a, .SummaryView a:link {
  color: #FFF;
  text-decoration: underline;
}

.SummaryView a:active, .SummaryView a:visited {
  color: #FFF;
}

.Entries-title {
  border-top: 1px solid #999;
  display: grid;
  font-weight: bold;
  margin-top: 0.2em;
  padding-top: 0.2em;
}

.Entries-title .tools {
  text-align: left;
  grid-area: tools;
  font-size: 80%;
}

.Entries-title .totals {
  grid-area: totals;
  text-align: right;
}

.Entries-title .title {
  grid-area: title;
  float: left;
  text-align: center;
}

.Entries-title .tools .segment {
  display: inline-block;
  padding: 0.3em 1em 0.3em 0;
}

.Entries-title .totals .segment {
  display: block;
  margin-left: 0.5em;
}

.Entries-title {
  grid-template-columns: 10em auto 11em;
  grid-template-rows: auto;
  grid-template-areas:
    "tools title totals"
    "tools title summary";
}
.Entries-title .name { text-align: center }
.Entries-title .tools { text-align: left }
.Entries-title .tools .segment {
  display: block;
}

@media only screen and (max-width: 600px) {
  .Entries-title {
    grid-template-columns: auto 11em;
    grid-template-rows: auto;
    grid-template-areas:
      "title   totals"
      "tools  summary";
  }
  .Entries-title .name { text-align: left }
  .Entries-title .tools { text-align: left }
  .Entries-title .tools .segment {
    display: inline-block;
  }
}

.pinned .Entries-title {
  border-top: 2px solid #ff0;
}

.Entries-more {
  margin-top: 1em;
  margin-bottom: 6em;
  text-align: center;
}

.Entries-more section {
  margin-top: 1em;
}

.Entries-title .title {
  line-height: 130%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 110%;
}

.Entries-title .title .info {
  font-size: 80%;
  position: relative;
  top: -0.15em;
}

@media only screen and (max-width: 600px) {
  .Entries-title .title {
    margin-left: 0;
    margin-right: 0;
    text-align: left;
  }
}

.Entries-title .title .name {
  display: inline-block;
}

.Entries-title .title .flag {
  float: left;
  margin-right: 0.2em;

  font-size: 160%;
  text-shadow: 0 0 0.2em #999;
}

.Entries-title .title .info {
  display: inline-block;
}

.Entries-title .totals .cases {
  white-space: nowrap;
}

.Entries-title .totals .cases {
  font-size: 80%;
  opacity: 0.4;
}

.Entries-title .totals .velocitySummary {
  white-space: nowrap;
  font-size: 80%;
}


.outbreakDay {
  color: #7ae;
}
.lightTheme .outbreakDay {
  color: #59d;
}

.velocity {
  color: #bb6;
}

.lightTheme .velocity {
  color: #993;
}

.acceleration {
  color: #fa6;
}

.acceleration.decreasing {
  color: #5d5;
}
.acceleration.increasing {
  color: #d55;
}

.arrow.decreasing {
  color: #5d5;
}
.arrow.increasing {
  color: #d55;
}

.lightTheme .acceleration.decreasing {
  color: #4c4;
}
.lightTheme .acceleration.increasing {
  color: #c44;
}

.acceleration .arrow {
  font-size: 60%;
  position: relative;
  top: -0.1rem;
  left: -0.1rem;
}

.velocity.good {
  color: #7b7;
}

.velocity.medium {
  color: #aa3;
}

.velocity.bad {
  color: #c96;
}

.velocity.verybad {
  color: #c66;
}

.velocity.terrible {
  color: #d33;
  font-weight: bold;
}

.legend {
  padding-bottom: 2em;
}

.legend section {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.legend .comparedTo {
  color: #633;
}

.legend .deaths {
  color: #c00;
}
