.TableView {
  padding: 0em 1em;
  text-align: center;
}

.TableView-row {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.TableView-caption {
  border-top: 1px solid #999;
  text-align: right;
}

.TableView-caption a, .TableView-caption a:link {
  color: #FFF;
  text-decoration: underline;
}

.TableView-caption a:active, .TableView-caption a:visited {
  color: #FFF;
}

.TableView-tools {
  float: left;
  text-align: left;
}

.TableView-tools button {
  display: inline;
  border: 0px;
  padding: 0px;
  color: #883;
  background-color: inherit;
}

.TableView-tools button.activated {
  color: #ff0;
}

.TableView-tools button:hover {
  cursor: pointer;
  color: #ff0;
}
