.TableView {
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 3em;
  padding: 0em 1em;
  overflow: auto;
  text-align: center;
}

.TableView-row {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.TableView-caption {
  border-top: 1px solid #999;
  text-align: right;
}
