.TableView {
  padding: 0em 1em;
  text-align: center;
}

.TableView-header {
  margin-bottom: 2em;
}

.TableView-row {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  clear: both;
}

.TableView a, .TableView a:link {
  color: #FFF;
  text-decoration: underline;
}

.TableView a:active, .TableView a:visited {
  color: #FFF;
}

.TableView-title {
  border-top: 1px solid #999;
  display: grid;
}

.TableView-title .tools {
  text-align: left;
  grid-area: tools;
  margin-top: 0.2em;
}

.TableView-title .totals {
  grid-area: totals;
  text-align: right;
  margin-top: 0.2em;
}

.TableView-title .name {
  grid-area: name;
  float: left;
  text-align: center;
}

.TableView-title .segment {
  display: inline-block;
  white-space: nowrap;
}

.TableView-title .tools .segment {
  margin-right: 2em;
}

.TableView-title .totals .segment {
  margin-left: 0.5em;
}

.TableView-title {
  grid-template-columns: 9em auto 9em;
  grid-template-rows: auto;
  grid-template-areas:
    "tools name totals";
}
.TableView-title .name { text-align: center }
.TableView-title .tools { text-align: left }

@media only screen and (max-width: 600px) {
  .TableView-title {
    grid-template-columns: auto 15em;
    grid-template-rows: auto;
    grid-template-areas:
      "name   totals"
      "tools  totals";
  }
  .TableView-title .name { text-align: left }
  .TableView-title .tools { text-align: left }
}

@media only screen and (max-width: 900px) {
  .TableView-title .left { width: 25%; }
  .TableView-title .center { width: 50%; }
  .TableView-title .right { width: 25%; }
}

.TableView button {
  display: inline;
  border: 0px;
  padding: 0px;
  color: #883;
  background-color: inherit;
}

.TableView button.activated {
  color: #ff0;
}

.TableView button:hover {
  cursor: pointer;
  color: #ff0;
}

.pinned .TableView-title {
  border-top: 2px solid #ff0;
}

.TableView-more {
  margin-top: 1em;
  margin-bottom: 6em;
  text-align: left;
}

.TableView-more section {
  margin-top: 1em;
}
