.OutbreakSparkline-day {
  display: inline-block;
  line-height: 2.5px;
  font-size: 16px;
  letter-spacing: 4px;
}

.OutbreakSparkline-one {
  content: '•';
  color: #F00;
}

.OutbreakSparkline-zero {
  content: '•';
  color: #777;
}
