.TableView {
  flex: 1;
  position: relative;
}

.TableView-row {
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  clear: both;
}

.TableView-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.desktop .TableView-row {
  max-width: 800px;
}

.TableView a, .TableView a:link {
  color: #FFF;
  text-decoration: underline;
}

.TableView a:active, .TableView a:visited {
  color: #FFF;
}

.TableView-title {
  border-top: 1px solid #999;
  display: grid;
  font-weight: bold;
  margin-top: 0.2em;
  padding-top: 0.2em;
}

.TableView-title .tools {
  text-align: left;
  grid-area: tools;
}

.TableView-title .totals {
  grid-area: totals;
  text-align: right;
}

.TableView-title .name {
  grid-area: name;
  float: left;
  text-align: center;
}

.TableView-title .tools .segment {
  display: inline-block;
  padding: 0.3em 1em 0.3em 0;
}

.TableView-title .totals .segment {
  display: block;
  margin-left: 0.5em;
}

.TableView-title {
  grid-template-columns: 10em auto 10em;
  grid-template-rows: auto;
  grid-template-areas:
    "tools name totals";
}
.TableView-title .name { text-align: center }
.TableView-title .tools { text-align: left }
.TableView-title .tools .segment {
  display: block;
}

@media only screen and (max-width: 600px) {
  .TableView-title {
    grid-template-columns: auto 10em;
    grid-template-rows: auto;
    grid-template-areas:
      "name   totals"
      "tools  totals";
  }
  .TableView-title .name { text-align: left }
  .TableView-title .tools { text-align: left }
  .TableView-title .tools .segment {
    display: inline-block;
  }
}

.TableView button {
  display: inline;
  border: 0px;
  padding: 0px;
  color: #883;
  background-color: inherit;
}

.TableView button.activated {
  color: #ff0;
}

.TableView button:hover {
  cursor: pointer;
  color: #ff0;
}

.pinned .TableView-title {
  border-top: 2px solid #ff0;
}

.TableView-more {
  margin-top: 1em;
  margin-bottom: 6em;
  text-align: center;
}

.TableView-more section {
  margin-top: 1em;
}

.TableView .preliminary {
  color: #e96;
}

.TableView .title {
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .TableView .title {
    margin-left: 0;
    margin-right: 0;
  }
}

.TableView .title .name {
  display: inline-block;
}

.TableView .title .flag {
  float: left;

  margin-right: 0.2em;

  font-size: 160%;
  text-shadow: 0 0 0.2em #999;
}

.TableView .totals .cases {
  white-space: nowrap;
}

.TableView .totals .cases {
  font-size: 80%;
  opacity: 0.4;
}
