.ViewControls {
  font-size: 1rem;
  margin-bottom: 0.5em;
  line-height: 2em;
}

.ViewControls-trigger {
  color: #cc2;
  border-bottom: 1px dotted #cc2;
  cursor: pointer;
}

.ViewControls-trigger:hover {
  color: #ff0;
  border-bottom: 1px solid #ff0;
  cursor: pointer;
}

.ViewControls-content h4 {
  margin: 0;
  margin-bottom: 0;
}

.ViewControls-popup {
  border: 1px solid black;
  background-color: #bbb;
  color: #000;
  text-align: left;
  padding: 0.7em 1em;
  font-size: 1rem;
}

.ViewControls-popup .form-row {
  text-align: left;
}

.ViewControls-popup .form-label {
  display: inline-block;
  width: 8em;
  font-weight: bold;
  text-align: right;
  padding-right: 0.5em;
}

.ViewControls-popup label {
  font-weight: bold;
}

.ViewControls-popup .form-field {
  text-align: left;
  display: inline-block;
}

.ViewControls-popup .form-single {
  text-align: center;
  font-size: 1em;
}

.ViewControls-popup .form-row.buttons {
  margin-top: 1em;
}

.ViewControls-popup  button {
  color: #24c;
  font-size: 1em;
}

.ViewControls-popup select {
  background-color: #f0f0f0;
  font-size: 1em;
}
