.Views {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Views-selectors {
  position: absolute;
  top: 1.5em;
  right: 1em;
  text-align: right;
  z-index: 10;
}

.Views-selectors a {
  font-size: 120%;
  margin: 0 2em;
}

.Views-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.Views-content .paddedContent {
  position: fixed;
  top: 4em;
  left: 1em;
  right: 1em;
  bottom: 3em;
  overflow: auto;
  text-align: center;
}
