.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em 1em;
}

.App-header h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bolder;
}

.App-header h1 light {
  font-weight: lighter !important;
  color: #ddd;
}



.App-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 2em;
  text-align: center;
  background-color: #222;
}

