.App {
  /* height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch; */
}

.App-header {
  padding: 1em 1em;
  background: rgb(33, 33, 33);
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(33, 33, 33, 0) 100%);
  z-index: 1;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.App-header h1 {
  margin: 0;
  color: var(--text-highlight-color);
  font-weight: bolder;
}

.App-header h1 a, .App-header h1 a:link, .App-header h1 a:visited {
  color: var(--text-highlight-color);
  text-decoration: none;
}

.App-header h1 a:hover, .App-header h1 a:active {
  color: var(--link-highlight-color);
  text-decoration: underline;
}

.App-header h1 light {
  font-weight: lighter !important;
  opacity: 0.8;
}

.App-header .logo {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.3em;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
}

.App-content {
  /* flex: 1; */
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: stretch; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(33, 33, 33);
  background: linear-gradient(0deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 1) 50%, rgba(33, 33, 33, 0) 100%);
  z-index: 1;

  padding: 1em 2em;
  text-align: center;
}

.App-error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* flex: 1; */
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;

  width: 60%;
  min-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.App-error p {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

.App-error .error-info {
  margin-top: 10em;
  overflow-x: auto;
  text-align: left;
}

.App-error  button {
  margin-top: 2em;
  color: var(--button-color);
  font-size: 1em;
}

.MarkerLegend {
  margin-top: 0.5em;
}

.DataLoader {
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}

button {
  display: inline;
  border: 0px;
  padding: 0px;
  color: var(--secondary-link-color);
  background-color: inherit;
  font-size: 1em;
}

button.activated {
  color: var(--link-highlight-color);
}

button:hover {
  cursor: pointer;
  color: var(--link-highlight-color);
}

.App-content .ScrollView {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: auto;
}

.App-content .ScrollView > div {
  margin-top: 8em;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

.App-content .information {
  background-color: var(--yellowTheme-background-color);
  color: var(--yellowTheme-text-color);
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0.5em 1em;
  text-align: left;
  font-weight: normal;
  white-space: normal;
}
.App-content .information p {
  margin-top: 0em;
}

.App-content .information h3 {
  margin-bottom: 0em;
}

.App-content .backLink {
  float: right;
}

.App-content button.backLink  {
  color: var(--yellowTheme-secondary-link-color);
}

.App-content button:hover.backLink {
  color: var(--yellowTheme-link-highlight-color);
}

.Information-icon {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  position: relative;
  top: 0.2em;
  width: 1em;
  height: 1em;
  border: 0.1em solid;
  border-radius: 0.5em;
  cursor: pointer;
}

.Information-icon-i {
  font-size: 1em;
  position: relative;
  top: -0.35em;
}
.Information-trigger {
  margin-left: 0.3em;
  font-size: 90%;
  position: relative;
  top: -0.1em;
  opacity: 0.6;
  cursor: pointer;
}
