.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.App-header {
  padding: 1em 1em;
  background-color: #222;
  flex: 0;
}

.App-header h1 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bolder;
}

.App-header h1 light {
  font-weight: lighter !important;
  color: #ddd;
}

.App-content {
  flex: 1;
  overflow: auto;
}

.App-footer {
  flex: 0;
  padding: 1em 2em;
  text-align: center;
  background-color: #222;
}

