:root {
  --background-color: #222;
  --text-color: #ccc;
  --text-highlight-color: #fff;
  --scrollbar-color: #777;

  --row-hover-color: #2c2c2c;

  --link-color: #cc2;
  --link-highlight-color: #ff6;

  --secondary-link-color: #883;
  --button-color: #24c;

  --lightTheme-link-color: #990;
  --lightTheme-link-highlight-color: #dd3;

  --yellowTheme-background-color: #ffb;
  --yellowTheme-text-color: #333;
  --yellowTheme-link-color: #009;
  --yellowTheme-secondary-color: #006;
  --yellowTheme-link-highlight-color: #00d;

  --data-deaths-color: #f33;
  --data-deaths-lighter-color: #da2020;
  --data-comparedDeaths-color: #744;
  --data-hospitalized-color: #663;

  --data-outbreakDay-color: #7ae;
  --data-velocity-color: #bb6;
  --data-acceleration-color: #fa6;
  --data-bad-color: #d55;
  --data-good-color: #5d5;

  --data-scale-veryGood-color: #7b7;
  --data-scale-good-color: #5d5;
  --data-scale-medium-color: #aa3;
  --data-scale-bad-color: #c96;
  --data-scale-veryBad-color: #c66;
  --data-scale-terrible-color: #d33;

  --lightTheme-data-outbreakDay-color: #59d;
  --lightTheme-data-velocity-color: #993;
  --lightTheme-data-acceleration-color: #fa6;
  --lightTheme-data-bad-color: #d55;
  --lightTheme-data-good-color: #5d5;

  --emoji-glow-color: #999;

  --chart-grid-color: #444;
  --chart-grid-text-color: #555;
  --chart-axis-color: #777;
  --chart-axis-text-color: #888;

  --data-severity-bad-xl:  #600101;
  --data-severity-bad-l:   #420909;
  --data-severity-bad-m:   #341010;
  --data-severity-bad-s:   #301919;
  --data-severity-flat:    #262020;
  --data-severity-good-s:  #192419;
  --data-severity-good-m:  #122c12;
  --data-severity-good-l:  #103410;
  --data-severity-good-xl: #145014;

  --lightTheme-data-severity-bad-xl: #f00;
  --lightTheme-data-severity-bad-l: #e95050;
  --lightTheme-data-severity-bad-m: #e66;
  --lightTheme-data-severity-bad-s: #b77;
  --lightTheme-data-severity-flat: #aaa;
  --lightTheme-data-severity-good-s: #393;
  --lightTheme-data-severity-good-m: #7b7;
  --lightTheme-data-severity-good-l: #40e040;
  --lightTheme-data-severity-good-xl: #0f0;
}

html, body  {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;

  scrollbar-color: var(--scrollbar-color) var(--background-color);
  scrollbar-width: 0.7em;
}

::-webkit-scrollbar {
  background: var(--background-color);
  width: 1em;
}

::-webkit-scrollbar {
  background: var(--background-color);
  width: 0.7em;
  height: 0.7em;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

@media only screen and (max-width: 600px) {
  body {
    scrollbar-width: 0.3em;
    font-size: 13px;
  }

  ::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link, a:visited, .link {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

a:hover, a:active, .link:hover {
  color: var(--link-highlight-color);
  cursor: pointer;
}

.segment {
  white-space: nowrap;
}

.content.lightTheme a:link, .content.lightTheme a:visited {
  color: var(--lightTheme-link-color);
}

.content.lightTheme a:hover, .content.lightTheme a:active {
  color: var(--lightTheme-link-highlight-color);
}

.content.yellowTheme a:link, .content.yellowTheme a:visited {
  color: var(--yellowTheme-link-highlight-color);
}

.content.yellowTheme a:hover, .content.yellowTheme a:active {
  color: var(--yellowTheme-link-highlight-color);
}










