html, body  {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222;
  color: #ccc;
  font-size: 14px;

  scrollbar-color: #777 #222;
  scrollbar-width: 0.7em;
}

::-webkit-scrollbar {
  background: #222;
  width: 1em;
}

::-webkit-scrollbar {
  background: #222;
  width: 0.7em;
  height: 0.7em;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

@media only screen and (max-width: 600px) {
  body {
    scrollbar-width: 0.3em;
    font-size: 13px;
  }

  ::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link, a:visited, .link {
  color: #cc2;
  cursor: pointer;
  text-decoration: underline;
}

a:hover, a:active, .link:hover {
  color: #ff6;
  cursor: pointer;
}

.segment {
  white-space: nowrap;
}


.content.lightTheme a:link, .content.lightTheme a:visited {
  color: #990;
}

.content.lightTheme a:hover, .content.lightTheme a:active {
  color: #dd3;
}

.content.yellowTheme a:link, .content.yellowTheme a:visited {
  color: #009;
}

.content.yellowTheme a:hover, .content.yellowTheme a:active {
  color: #00d;
}






