.Navigation section {
  display: inline-block;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.mobile .Navigation section {
  padding: 0.2em;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.Navigation a, .Navigation a:link, .Navigation a:visited {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}

.Navigation a:hover, .Navigation a:active {
  color: var(--link-highlight-color);
  text-decoration: none;
  cursor: pointer;
}

.Navigation a.active {
  color: var(--text-color);
  font-weight: bold;
}

.Navigation .search input {
  font-size: 1em;
  background: none;
  outline: none;
  color: var(--link-color);
  border: 0;
  border-bottom: 1px solid var(--link-color);
  margin-right: 0.5em;
}
